<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Assets - Visu</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=442f204cdc3e0de1f81b26a11f81c015">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css?h=9db842b3dc3336737559eb4abc0f1b3d">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css?h=9db842b3dc3336737559eb4abc0f1b3d">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css?h=9db842b3dc3336737559eb4abc0f1b3d">
    <link rel="stylesheet" href="assets/css/styles.min.css?h=bfcc9dcd964681a34de28c50573ff0df">
<script>
    function submitform() {
        document.getElementById('add-symbol').submit();
    }
</script>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="width: 100%;background: #5d576b;">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>VISU</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar" style="width: 170px;">
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link active" href="assets.html"><i class="fa fa-bitcoin"></i><span>Crypto Assets</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="table.html"><i class="fas fa-table"></i><span>Table</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fas fa-window-maximize"></i><span>Blank Page</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <div class="container-fluid" style="padding: 24px;">
                    <h3 class="text-dark mb-4">Crypto Assets</h3>
                    <div class="col" style="width: 100%;">
                        <div class="card shadow mb-3" style="width: 100%;">
                            <div class="card-header py-3">
                                <div class="col-12 text-right" style="padding: 0;margin: 0;">
                                    <p class="m-0 font-weight-bold" style="color: #5d576b;text-align: left;width: 97%;display: inline-block;padding-bottom: 0px;">Coin List</p><a href="?modal=true" data-toggle="modal" data-target="#myModal" style="padding: 0;padding-left: 1px;margin: 0;margin-top: 0;margin-right: 0;margin-bottom: 0;margin-left: 0;"><i class="fa fa-plus-square" style="font-size: 20px;color: rgb(133,135,150);margin: 0;padding: 0px;margin-top: 0px;"></i>
                                        <div class="modal fade" role="dialog" tabindex="-1" id="myModal">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title" style="color: #5d576b;">Add new symbol</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="add-symbol">
                                                            <div class="form-group"><label class="d-flex justify-content-lg-start" style="text-align: left;color: #5d576b;">Crypto Symbol</label><input class="form-control" type="text" style="width: 35%;" name="symbol"></div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Close</button><button class="btn btn-primary btn-sm" id="symbol-submit" type="submit" style="background: #5d576b;border-color: #5d576b;padding: 7px;" onclick="submitform()">Add Symbol</button></div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body" style="width: 100%;">
                                <div class="table-responsive table mt-2">
                                    <table class="table my-0">
                                        <thead id="tbs-head">
                                            <tr>
                                                <th>Symbol</th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th></th>
                                                <th style="text-align: right;">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbs-body">
                                            <tr></tr>
                                            <tr></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Visu 2021</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="assets/js/jquery.min.js?h=89312d34339dcd686309fe284b3f226f"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=03ab36d1dde930b7d44a712f19075641"></script>
    <script src="assets/js/chart.min.js?h=9db842b3dc3336737559eb4abc0f1b3d"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/script.min.js?h=b86d882c5039df370319ea6ca19e5689"></script>
</body>

</html>